* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background styles */
body {
  margin-left: 70px;
  margin-right: 70px;
  background-color: #111927;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(208.4, 100%, 37%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 55%);
}

/* Glassmorphism card effect */
.card {
  backdrop-filter: blur(15px) saturate(196%);
  -webkit-backdrop-filter: blur(15px) saturate(196%);
  background-color: rgba(17, 25, 40, 0.55);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

#img-div {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 36%;
  height: auto;
  border-radius: 20%;
  align-self: center;
}

h2 {
  margin: 50px 70px 0px 90px;
  font-size: 20px;
}

span {
  color: #deaf00;
}

h1 {
  font-family: "Yuji Syuku", serif;
  color: #e2e2e2;
  line-height: 120px;
  margin: 0px 70px 50px 70px;
  font-size: 120px;
}

h2,
h6,
p {
  font-style: italic;
  font-family: "Playfair Display", serif;
  color: #e2e2e2;
}

.container {
  width: 75%;
  align-self: center;
}

h6 {
  font-family: "Yuji Syuku", serif;
  align-self: center;
  font-size: 13px;
  margin-bottom: 40px;
  margin-top: 18px;
  font-weight: 200;
  color: #deaf00;
}

p {
  padding: 30px 50px;
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
}

a {
  font-family: "Playfair Display", serif;
  font-style: italic;
  text-decoration: none;
  color: #deaf00;
  line-height: 30px;
  font-size: 19px;
}

a:hover {
  color: #0063bc;
}

.hierba {
  max-width: 30%;
  max-height: 280px;
  min-height: 100px;
  border-radius: 20%;
}

.herbario {
  display: flex;
  margin: 50px 30px 40px 30px;
  justify-content: space-evenly;
}

.poemas {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 18px 90px 18px;
}

.poema {
  max-width: 28%;
  max-height: 220px;
  min-height: 78.5px;
  border-radius: 20%;
  align-content: center;
  filter: sepia(0.2);
  filter: brightness(85%);
}

.final {
  font-family: "Yuji Syuku", serif;
  color: #e2e2e2;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 4px 30px;
}

.flores {
  vertical-align: middle;
}

.footer-class {
  backdrop-filter: blur(17px) saturate(139%);
  -webkit-backdrop-filter: blur(17px) saturate(139%);
  background-color: rgba(0, 99, 188, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  padding: 15px 15px 15px 15px;
}
/* 
#main{
  width: 100vw;
  height: auto;
}
 */

/*MEDIA QUERIES
https://stackoverflow.com/questions/15649244/responsive-font-size-in-css
https://css-tricks.com/viewport-sized-typography/
*/

/*Colores:
Azul oscuro- #0F1522
Blanco- F6F6F6
Celeste- #0063bc
Amarillo- #deaf00*/

/*font-family: 'Playfair Display', serif;
font-family: 'Yuji Syuku', serif;*/
